@font-face {
	font-family: 'PFL';
	src: url('../fonts/pdfintextcondpro-light-webfont.eot');
    src: url('../fonts/pdfintextcondpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pdfintextcondpro-light-webfont.woff') format('woff'),
         url('../fonts/pdfintextcondpro-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'PFR';
	src: url('../fonts/pfdintextcondpro-regular-webfont.eot');
    src: url('../fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'PFM';
	src: url('../fonts/pfdintextcondpro-medium-webfont.eot');
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-medium-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'RBR';
	src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,
body {
	position: relative;
}
body {
	min-width: 1000px;
	text-align: center;
	font-family: 'PFL';
	overflow-x: hidden;
	color: #472275;
}
a{
	text-decoration: none;
	color: #472275;
}
b,a{
	font-weight: 500;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	background-color: #FFCECE !important;
	box-shadow: 0 1px 2px rgba(180, 14, 14, 0.57);
}
h2{
	color: #B8B7B7;
	font-family: "robotobold";
	font-size: 37px;
	text-transform: uppercase;
	margin-top: 76px;
	margin-bottom: 68px;
}
.ps-lines{

}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'PFM';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1050px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #434343;
}
input:-moz-placeholder {
	color: #434343;
}
.b-orange-butt{
	background-color: #ff6d20;
	border-radius: 5px;
	border: none;
	border-bottom: 2px solid #f56448;
	color: #FFF;
	font-family: "robotoregular";
	font-size: 15px;
	text-transform: uppercase;
}
	.b-orange-butt:hover{
		background-color: #ff1800;
		cursor: pointer;
	}
		.b-orange-butt:active{
			position: relative;
			margin-top: 2px;
			border-bottom: none;
		}
.b-orange-button{
	background-color: #ff6d20;
	border-radius: 5px;
	border: none;
	border-bottom: 2px solid #f56448;
	color: #FFF;
	font-family: "robotoregular";
	font-size: 15px;
	text-transform: uppercase;
}
	.b-orange-button:hover{
		background-color: #ff1800;
		cursor: pointer;
	}
		.b-orange-button:active{
			position: relative;
			top: 2px;
			border-bottom: none;
		}	
.b-0{

}
	.b-0 .b-block{
		padding-top: 31px;
	}
		.b-0 .b-logo{
			margin-right: 73px;
		}
			.b-0 .b-logo a{
				display: block;
				width: 141px;
				height: 45px;
				background-size: 141px;
				background-image: url("../i/logo.png");
			}
		.b-0 .b-menu{
			margin-top: 12px;
			margin-right: 47px;
		}
			.b-0 .b-menu ul{

			}
				.b-0 .b-menu ul li{
					margin-right: 11px;
				}
					.b-0 .b-menu ul li:last-child{
						margin-right: 0px;
					}
					.b-0 .b-menu ul li a{
						font-family: "robotoregular";
						font-size: 15px;
						color: #3A3A3A;
					}
						.b-0 .b-menu ul li a:hover{
							color: #ee4200;
							cursor: pointer;
						}
			.b-0 .b-call{
				margin-top: 11px;
				margin-bottom: 50px;
			}	
				.b-0 .b-call a{
					padding: 4px 12px;
				}
.b-1{
	background-image: url("../i/back-1.jpg");
	background-position: 50% 50%;
	background-size: cover;
	height: 531px;
	border-bottom: 4px solid #f36d2b;
	overflow: hidden;
}
	.b-1 .b-block{

	}
		.b-1 .ballon{
			position: absolute;
			top: 2px;
			left: -8px;
		}
		.b-1 .cloud{
			position: absolute;
			top: -107px;
			left: -334px;
		}
	.b-1 .b-absolute{
		margin-left: -525px;
		top: 0px;
		z-index: 5;
	}
		.b-1 .b-absolute h1{
			margin-top: 116px;
			color: #2B4C74;
			font-family: "robotomedium";
			font-size: 46px;
			text-transform: uppercase;
			text-align: right;
			line-height: 60px;
		}	
		.b-1 .b-absolute h3{
			color: #2D3C4D;
			font-family: "robotoregular";
			font-size: 22px;
			text-align: right;
			line-height: 42px;
			margin-top: 47px;
		}	
.b-2{
	background-image: url("../i/back-2.jpg");
	background-position: 50% 50%;
	background-size: cover;
}
	.b-2 .b-block{
		padding-bottom: 79px;
	}
		.b-2 .b-optimization{
			position: relative;
		}
			.b-2 .b-optimization .arrow{
				position: absolute;
				top: 75px;
				right: 29px;
			}
			.b-2 .b-optimization h3{
				font-family: "robotobold";
				font-size: 19px;
				text-transform: uppercase;
				color: #363636;
				padding-top: 67px;
				margin-bottom: 38px;
			}
				.b-2 .b-optimization h3 b{
					color: #F36D2B;
				}
			.b-form{

			}
				.b-form input[type="text"]{
					width: 140px;
					background-color: #FFF;
					border: 1px solid #7B7B7B;
					border-radius: 5px;
					color: #464646;
					font-family: "robotolight";
					font-size: 17px;
					padding: 6px 0px 6px 38px;
					margin-right: 25px;
				}
					.b-form .name{
						background-image: url("../i/name.jpg");
						background-repeat: no-repeat;
						background-position: 8px 2px;
					}
					.b-form .phone{
						background-image: url("../i/phone.jpg");
						background-repeat: no-repeat;
						background-position: 4px 2px;
					}
					.b-form .email{
						background-image: url("../i/mail.jpg");
						background-repeat: no-repeat;
						background-position: 2px 2px;
					}
					.b-form .site{
						background-image: url("../i/site.png");
						background-repeat: no-repeat;	
						background-position: 9px 9px;					
					}
				.b-form input[type="submit"]{
					padding: 8px 34px;
					position: relative;
					top: -3px;
				}
.b-3{

}
	.b-3 .b-block{

	}
		.b-3 h2{
			color: #B8B7B7;
			font-family: "robotobold";
			font-size: 37px;
			text-transform: uppercase;
			margin-top: 74px;
			margin-bottom: 70px;
		}
		.b-3 .b-back{
			background-image: url("../i/back-3.jpg");
			background-size: cover;
			background-position: 50% 50%;
			height: 635px;
		}
			.b-3 .b-back .white-block{
				width: 631px;
				height: 490px;
				background-color: #FFF;
				position: absolute;
				top: 145px;
				left: 414px;
			}
				.b-3 .b-back .white-block h3{
					font-family: "robotobold";
					color: #F36D2B;
					font-size: 18px;
					text-transform: uppercase;
					margin-top: 60px;
					margin-right: 21px;
				}
				.b-3 .b-back .white-block p{
					color: #000;
					font-size: 16px;
					font-family: "robotolight";
					text-align: left;
					display: inline-block;
					width: 462px;
					margin-top: 25px;
					line-height: 25px;
					margin-left: 10px;
				}
			.b-3 .b-back .yandex{
				width: 550px;
				height: 613px;
				background-image: url("../i/web.png");
				position: absolute;
				top: 22px;
				left: -60px;
			}
.b-4{

}
	.b-4 > .b-block{

	}
		.b-4 h2{

		}
	.b-4 .b-back{
		background-color: #f1f1f1;
	}
		.b-4 .b-back .b-block{

		}
			.b-4 .b-back{

			}
				.b-4 .man{
					position: absolute;
					top: 177px;
					left: -345px;
				}
				.b-4 .icons{
					background-image: url("../i/icons-1.png");
					position: absolute;
					top: 42px;
					left: -82px;
					width: 219px;
					height: 179.5px;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					background-size: 219px;
				}
				.b-4 .icons-2{
					position: absolute;
					bottom: -7px;
					right: -117px;
					width: 186px;
					height: 340px;
					background-size: 186px;
					background-position: 50% 50%;
				}
					.b-4 .icons-2 li{
						background-image: url("../i/icons-2.png");
						background-repeat: no-repeat;
						background-size: 186px auto;
						position: absolute;
					}
						.b-4 .icons-2 .first{
							width: 45px;
							height: 49px;
							background-position: -120px 0px;		
							top: 2px;
							right: 21px;		
						}
						.b-4 .icons-2 .second{
							width: 46px;
							height: 50px;
							background-position: -140px -83px;
							top: 86px;
							right: 0px;
						}
						.b-4 .icons-2 .third{
							width: 33px;
							height: 40px;
							background-position: -105px -145px;
							top: 148px;
							right: 47px;
						}
						.b-4 .icons-2 .fouth{
							width: 77px;
							height: 55px;
							background-position: -102px -225px;
							top: 228px;
							right: 7px;
						}
						.b-4 .icons-2 .fiveth{
							width: 73px;
							height: 78px;
							background-position: 0px -261px;
							top: 263px;
							right: 111px;
						}
				.b-4 .b-back .ul{
					width: 820px;
					margin-left: 267px;
					padding-top: 68px;
					padding-bottom: 13px;
				}
					.b-4 .b-back .ul li{
						height: 122px;
						width: 375px;
						margin-bottom: 27px;
						margin-right: 52px; 
					}
						.b-4 .b-back .ul li:nth-child(2n){
							margin-right: 0px;
						}
						.b-4 .b-back .ul li .clearfix{

						}
							.b-4 .b-back .ul li .clearfix .circle{
								width: 95px;
								height: 95px;
								background-color: #FFF;
								border-radius: 50%;
								background-position: 50% 50%;
								background-repeat: no-repeat;
								background-size: 62px;
								margin-right: 39px;
								margin-top: 3px;
								background-image: url("../i/b-3/1.png");
							}
								.b-4 .b-back .ul li:nth-child(2) .clearfix .circle{
									background-image: url("../i/b-3/2.png");
									background-size: 59px;
								}
								.b-4 .b-back .ul li:nth-child(3) .clearfix .circle{
									background-image: url("../i/b-3/3.png");
									background-size: 44px;
								}
								.b-4 .b-back .ul li:nth-child(4) .clearfix .circle{
									background-image: url("../i/b-3/4.png");
									background-size: 64px;
								}
								.b-4 .b-back .ul li:nth-child(5) .clearfix .circle{
									background-image: url("../i/b-3/5.png");
									background-size: 48px;
									margin-top: 15px;
								}
								.b-4 .b-back .ul li:nth-child(6) .clearfix .circle{
									background-image: url("../i/b-3/6.png");
									background-size: 47px;
									margin-top: 26px;
								}
								.b-4 .b-back .ul li:nth-child(7) .clearfix .circle{
									background-image: url("../i/b-3/7.png");
									background-size: 36px;
								}
							.b-4 .b-back .ul li .clearfix .text{

							}
								.b-4 .b-back .ul li .clearfix .text h3{
									color: #424242;
									font-family: "robotobold";
									font-size: 17px;
									text-transform: uppercase;
									text-align: left;
								}
								.b-4 .b-back .ul li .clearfix .text p{
									color: #424242;
									text-align: justify;
									width: 217px;
									font-family: "robotolight";
									font-size: 15px;
									margin-top: 14px;
									line-height: 17px;
								}
.b-5{
	border-bottom: 4px solid #F36D2B;
}
	.b-5 h2{

	}
		.b-5 .b-back{
			background-color: #fafafa;
		}
			.b-5 .b-back .b-slider{
				width: 1050px;
				height: 511px;
				position: relative;
				background-color: #FFF;
			}
				.b-5 .b-back .b-slider .graph{
					background-image: url("../i/graph.jpg");
					width: 429px;
					height: 252px;
					background-size: 429px;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					position: absolute;
					bottom: 0px;
					right: 51px;
				}
				.b-5 .b-back .b-slider .b-slider-top{
					background-color: #f1f1f1;
				}
					.b-5 .b-back .b-slider .b-slider-top .arrow-left{
						display: block;
						width: 44px;
						height: 44px;
						background-image: url("../i/b-3/arrow-left.png");
						background-position: 50% 50%;
						background-size: 44px;
						margin-top: 37px;
						margin-left: 19px;
						background-repeat: no-repeat;
					}
					.b-5 .b-back .b-slider .b-slider-top .frog{
						background-image: url("../i/frog.png");
						width: 133px;
						height: 74px;
						background-position: 50% 50%;
						background-size: 133px;
						background-repeat: no-repeat;
						margin-left: 119px;
						margin-top: 39px;
					}
					.b-5 .b-back .b-slider .b-slider-top h3{
						color: #262626;
						font-family: "robotobold";
						font-size: 20px;
						text-align: right;
						margin-left: 394px;
						margin-top: 37px;
						line-height: 24px;
					}
					.b-5 .b-back .b-slider .b-slider-top .arrow-right{
						display: block;
						width: 44px;
						height: 44px;
						background-image: url("../i/b-3/arrow-right.png");
						background-position: 50% 50%;
						background-size: 44px;
						margin-top: 37px;
						margin-left: 82px;
						background-repeat: no-repeat;
					}
				.b-5 .b-back .b-slider .b-slider-describe{
					border-right: 1px solid #dadada;
					border-left: 1px solid #dadada;
					background-color: #FFF;
				}
					.b-5 .b-back .b-slider .b-slider-describe .site{
						color: #f15f1a;
						font-family: "robotoregular";
						font-size: 23px;
						margin-top: 44px;
						margin-left: 96px;
					}
					.b-5 .b-back .b-slider .b-slider-describe .search{
						width: 26px;
						height: 27px;
						background-image: url("../i/loupe.png");
						background-position: 50% 50%;
						background-repeat: no-repeat;
						background-size: 26px;
						margin-top: 49px;
						margin-left: 23px;
					}
					.b-5 .b-back .b-slider .b-slider-describe .yandex{
						width: 100px;
						height: 42px;
						background-image: url("../i/yandex.jpg");
						background-position: 50% 50%;
						background-repeat: no-repeat;
						background-size: 100px;
						margin-left: 31px;
						margin-top: 39px;
					}
					.b-5 .b-back .b-slider .b-slider-describe .was{
						color: #404040;
						font-family: "robotoregular";
						font-size: 20px;
						text-transform: uppercase;
						margin-top: 45px;
						margin-left: 66px;
					}
					.b-5 .b-back .b-slider .b-slider-describe .arrow{
						width: 37px;
						height: 22px;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						background-size: 37px;
						background-image: url("../i/arrow-2.png");
						margin-top: 49px;
						margin-left: 115px;
					}
					.b-5 .b-back .b-slider .b-slider-describe .now{
						color: #404040;
						font-family: "robotoregular";
						font-size: 20px;
						text-transform: uppercase;
						margin-top: 45px;
						margin-left: 142px;
					}
				.b-5 .b-back .b-slider .b-slider-describe .bottom-part{
					padding-left: 350px;
					padding-top: 35px;
					padding-bottom: 13px;
				}
					.b-5 .b-back .b-slider .b-slider-describe .bottom-part p{
						color: #4D4D4D;
						font-family: "robotoregular";
						font-size: 12px;
						text-transform: uppercase;
						margin-right: 27px;
					}
			.b-5 .b-back .b-slider table{
				width: 1050px;
			}
				.b-5 .b-back .b-slider table tr{
					background-color: #f0f0f0;
				}
					.b-5 .b-back .b-slider table tr:nth-child(2n){
						background-color: #FFF;
					}
					.b-5 .b-back .b-slider table tr td{
						width: 334px;
						border-right: 1px solid #FFF;
						border-left: 1px solid #f0f0f0;
					}
						.b-5 .b-back .b-slider table tr td:nth-child(2){
							width: 72px;
							border-right: 1px solid #FFF;
						}
						.b-5 .b-back .b-slider table tr td:nth-child(3){
							border-right: 1px solid #FFF;
							width: 105px;
						}
						.b-5 .b-back .b-slider table tr td:nth-child(4){
							border-right: 1px solid #f0f0f0;
							width: 534px;
						}
						.b-5 .b-back .b-slider table tr td p{
							color: #4E4E4E;
							font-family: "robotoregular";
							font-size: 16px;
							padding: 20px 0px;
						}
							.b-5 .b-back .b-slider table tr:nth-child(2n) td p{
								padding: 15px 0px;
							}
							.b-5 .b-back .b-slider table tr td:nth-child(1) p{
								text-align: right;
								margin-right: 27px;
							}
.b-6{
	background-image: url("../i/back-2.jpg");
	background-position: 50% 50%;
	background-size: cover;
}
	.b-6 .b-block{
		padding-bottom: 79px;
	}
		.b-6 .b-rezults{
			position: relative;
		}
			.b-6 .b-rezults .arrow{
				position: absolute;
				top: 73px;
				right: 232px;
			}
			.b-6 .b-rezults h3{
				font-family: "robotobold";
				font-size: 19px;
				text-transform: uppercase;
				color: #363636;
				padding-top: 66px;
				margin-bottom: 33px;
			}
				.b-6 .b-rezults h3 b{
					color: #F36D2B;
				}
			.b-6 .b-form{
				margin-bottom: 5px;
			}
				.b-6 .b-form button{
					padding: 1.5px 36px;
					line-height: 15px;
					color: #FFF;
					font-family: "robotoregular";
					font-size: 14px;
					margin-left: 1px;
				}
.b-7{

}
	.b-7 .b-block{

	}
		.b-7 h3{
			color: #B8B7B7;
			font-family: "robotobold";
			font-size: 37px;
			text-transform: uppercase;
			display: inline-block;
			margin-top: 51px;
		}
		.b-7 p{
			color: #434343;
			font-family: "robotoregular";
			font-size: 18px;
			display: inline-block;
			width: 680px;
			margin-top: 54px;
			line-height: 24px;
			margin-bottom: 70px;
		}
.b-8{
	background-color: #ed4300;
}	
	.b-8 .b-block{

	}
		.b-8 ul{
			padding-top: 49px;
			display: inline-block;
			margin-left: 5px;
			margin-bottom: 17px;
		}
			.b-8 ul li{
				position: relative;
				height: 170px;
				margin-right: 58px;
				margin-bottom: 20px;
			}
				.b-8 ul li:nth-child(2n){
					margin-right: 0px;
				}
				.b-8 ul li:nth-child(3), .b-8 ul li:nth-child(4){
					margin-bottom: 0px;
				}
				.b-8 ul li .b-circle{
					width: 118px;
					height: 118px;
					background-color: #FFF;
					background-image: url("../i/b-6/1.png");
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: 58px;
					border-radius: 50%;
					margin-right: 90px;
				}
					.b-8 ul li:nth-child(2) .b-circle{
						background-image: url("../i/b-6/2.png");
					}
					.b-8 ul li:nth-child(3) .b-circle{
						background-image: url("../i/b-6/3.png");
					}
					.b-8 ul li:nth-child(4) .b-circle{
						background-image: url("../i/b-6/4.png");
					}
				.b-8 ul li .b-text{
					width: 285px;
					text-align: left;
				}
					.b-8 ul li .b-text h4{
						color: #FFF;
						font-family: "robotobold";
						font-size: 16px;
						line-height: 24px;
					}
					.b-8 ul li .b-text p{
						color: #FFF;
						font-family: "robotolight";
						font-size: 16px;
						margin-top: 22px;
						line-height: 24px;
					}
				.b-8 ul li img{
					position: absolute;
					top: 17px;
					left: 130px;
				}
		.b-8 .balloon{
			position: absolute;
			top: 7px;
			right: -383px;
		}
.b-9{

}
	.b-9 .b-back{
		background-color: #f1f1f1;
	}
		.b-9 .b-icons{
			width: 195px;
			height: 261px;
			background-image: url("../i/icons-3.png");
			background-position: 50% 50%;
			background-size: 195px;
			position: absolute;
			bottom: 38px;
			right: -107px;
		}
		.b-9 .b-back .b-shield{
			width: 445px;
			height: 479px;
			background-image: url("../i/shield.png");
			background-position: 50% 50%;
			background-size: 445px;
			position: absolute;
			position: absolute;
			top: 14px;
			left: -56px;
		}
			.b-9 .b-back .b-shield .b-logo{
				width: 305px;
				height: 97px;
				background-image: url("../i/logo.png");
				background-position: 50% 50%;
				background-size: 305px;
				background-repeat: no-repeat;
				display: inline-block;
				margin-top: 156px;
			}
		.b-9 .b-back .b-text{
			width: 582px;
			margin-top: 161px;
			text-align: left;
			margin-right: 10px;
		}
			.b-9 .b-back .b-text p{
				font-family: "robotolight";
				font-size: 18px;
				color: #2D2C2C;
				line-height: 29px;
				margin-bottom: 179px;
			}
				.b-9 .b-back .b-text p span{
					color: #ef4200;
					font-family: "robotobold";
				}
.b-10{

}
	.b-10 .b-back{
		position: relative;
		height: 572px;
		background-image: url("../i/back-8.jpg");
		background-position: 50% 50%;
		background-size: cover;
	}
		.b-10 .b-back .b-white-block{
			height: 431px;
			width: 676px;
			background-color: #FFF;
			position: absolute;
			top: 141px;
			left: 198px;
		}
			.b-10 .b-back .b-white-block p{
				color: #393939;
				font-family: "robotolight";
				font-size: 18px;
				width: 325px;
				margin-top: 96px;
				text-align: left;
				margin-left: 66px;
				line-height: 30px;
			}
		.b-10 .b-back .b-ipad{
			width: 457px;
			height: 564px;
			background-image: url("../i/budget.png");
			position: absolute;
			top: 8px;
			right: 0px;
			text-align: center;
		}
			.b-10 .b-back .b-ipad .b-orange-block{
				width: 308px;
				margin-left: 36px;
				margin-top: 80px;
			}
			.b-10 .b-back .b-ipad h3{
				color: #FFF;
				font-family: "robotobold";
				font-size: 21px;
				display: inline-block;
				text-transform: uppercase;
			}
			.b-10 .b-back .b-ipad form{
				text-align: center;
				margin-left: 19px;
				margin-top: 24px;
			}
				.b-10 .b-back .b-ipad form input[type="text"]{
					color: #464646;
					font-family: "robotolight";
					font-size: 17px;
					border: none;
					border: 1px solid #7C7C7C;
					border-radius: 5px;
					width: 209px;
					background-repeat: no-repeat;
					padding: 5px 0px 5px 45px;
					margin-bottom: 6px;
				}
				.b-10 .b-back .b-ipad form textarea{
					resize: none;
					color: #464646;
					font-family: "robotolight";
					font-size: 17px;
					border-radius: 5px;
					border: none;
					width: 209px;
					padding-left: 45px;
					height: 71px;
					border: 1px solid #7C7C7C;
					background-repeat: no-repeat;
				}
					.b-10 .b-back .b-ipad form .name{
						background-image: url("../i/name.jpg");
						background-position: 10px;
					}
					.b-10 .b-back .b-ipad form .phone{
						background-image: url("../i/phone.jpg");
						background-position: 4px;
					}
					.b-10 .b-back .b-ipad form .email{
						background-image: url("../i/mail.jpg");
						background-position: 4px;
					}
					.b-10 .b-back .b-ipad form .site{
						background-image: url("../i/site.png");
						background-position: 13px;
					}
					.b-10 .b-back .b-ipad form textarea{
						background-image: url("../i/inquiry.png");
						background-position: 13px 9px;
					}
				.b-10 .b-back .b-ipad form input[type="submit"]{
					color: #FFF;
					font-family: "robotoregular";
					font-size: 20px;
					text-transform: uppercase;
					border: 1.49px solid #FFF;
					border-radius: 5px;
					margin-top: 12px;
					padding: 2px 67px;
					cursor: pointer;
					background-color: rgba(255, 255, 255, 0.0);
				}
					.b-10 .b-back .b-ipad form input[type="submit"]:hover{
						background-color: rgba(255, 255, 255, 0.3);
					}
					.b-10 .b-back .b-ipad form input[type="submit"]:active{
						background-color: rgba(255, 255, 255, 0.2);
					}
.b-11{

}
	.b-11 .b-back{
		background-color: #ee4300;
	}
		.b-11 .b-back .b-book{
			width: 592px;
			height: 421px;
			background-image: url("../i/book.jpg");
			margin-top: 102px;
			margin-left: -23px;
			background-repeat: no-repeat;
		}
		.b-11 .b-back ul{
			padding-top: 50px;
			margin-bottom: 28px;
		}
			.b-11 .b-back ul li{
				position: relative;
				margin-bottom: 24px;
			}
				.b-11 .b-back ul li .circle{
					width: 102px;
					height: 102px;
					background-color: #FFF;
					background-image: url("../i/b-6/2.png");
					background-position: 50% 50%;
					background-size: 47px;
					background-repeat: no-repeat;
					border-radius: 50%;
				}
				.b-11 .b-back ul li p{
					color: #FFF;
					font-family: "robotoregular";
					font-size: 18px;
					width: 247px;
					text-align: left;
					margin-left: 95px;
					margin-top: 9px;
					line-height: 23px;
				}
				.b-11 .b-back ul li img{
					position: absolute;
					top: 21px;
					left: 118px;
				}
.b-12{

}
	.b-12 .b-block{

	}
		.b-12 h3{
			color: #B8B7B7;
			font-family: "robotobold";
			font-size: 37px;
			text-transform: uppercase;
			margin-top: 50px;
		}
		.b-12 ul{
			margin-left: -8px;
			margin-top: 41px;
			margin-bottom: 39px;
		}
			.b-12 ul li{
				margin-right: 20px;
			}
			.b-12 ul li:last-child{
				margin-right: 0px;
			}
				.b-12 ul li div{
					background-image: url("../i/b-10/1.jpg");
					height: 131px;
					width: 200px;
					background-position: 50% 50%;
					background-repeat: no-repeat;
				}
				.b-12 ul li:nth-child(2) div{
					background-image: url("../i/b-10/2.jpg");	
					width: 155px;
				}
				.b-12 ul li:nth-child(3) div{
					background-image: url("../i/b-10/3.jpg");	
					width: 244px;
				}
				.b-12 ul li:nth-child(4) div{
					background-image: url("../i/b-10/4.jpg");	
					width: 216px;
				}
				.b-12 ul li:nth-child(5) div{
					background-image: url("../i/b-10/5.jpg");	
					width: 160px;
				}
.b-13{
	height: 515px;
	border-bottom: 4px solid #ee4300;
	background-color: #000;
}
.b-14{
	background-image: url("../i/back-2.jpg");
	background-position: 50% 50%;
	background-size: cover;
}
	.b-14 h3{
		color: #363636;
		font-family: "robotobold";
		padding-top: 67px;
		font-size: 19px;
		font-weight: 700;
		text-transform: uppercase;
	}
	.b-14 form{
		margin-top: 38px;
		padding-bottom: 84px;
	}
	.b-14 img{
		position: absolute;
		top: 74px;
		left: 713px;
	}
	.b-14 button{
			padding: 1.5px 36px;
			line-height: 15px;
			color: #FFF;
			font-family: "robotoregular";
			font-size: 14px;
	}
.b-15{
	
}
	.b-15 .b-logo{
		display: block;
		width: 165px;
		height: 53px;
		background-image: url("../i/logo.png");
		background-position: 50% 50%;
		background-size: 165px;
		margin-top: 33px;
		background-repeat: no-repeat;
		margin-bottom: 40px;
	}
	.b-15 .b-politic{
		margin-top: 49px;
		margin-left: 247px;
	}
		.b-15 .b-politic a{
			color: #3A3A3A;
			font-family: "robotoregular";
			font-size: 15px;
			text-decoration: underline;
		}
			.b-15 .b-politic a:hover{
				text-decoration: none;
			}
	.b-15 .b-phone{
		margin-left: 188px;
		margin-top: 28px;
		text-align: right;
	}
		.b-15 .b-phone h4{
			color: #ee4200;
			font-family: "robotoregular";
			font-size: 24px;
		}
		.b-15 .b-phone h5{
			color: #414141;
			font-family: "robotolight";
			font-size: 19px;
		}
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}